@import url("https://fonts.googleapis.com/css?family=Raleway");

#gusbus{
  background-color: #fff;
  color:#333;
  font-family: 'Raleway', sans-serif;
}
#quote-maker h1{
  text-align: center;
}
.text-box{
  width: 500px;
  height: 400px;
  margin: 0 auto;
}
.quote{
  height: 300px;
  width: 400px;
  border: 4px solid #333;
  border-radius: 0;
  margin: 0 auto;
  padding: 30px;
  font-size: 20px;
  text-align: center;
}
.icon-box{
  width: 40px;
  height: 45px;
  margin: 5px auto;
}
.press{
  cursor: pointer;
}

.sm-icons{
  margin: 10px 0px 0px 50px;
}
.sm-icons a{
  color: #333;
}
.sm-icons a:hover{
  color:#333;
}

.fa-facebook{
    border: 4px solid #333;
    padding: 4px 10px;
    border-radius: 100%
}
.fa-twitter{
  border: 4px solid #333;
  padding: 4px 5px;
  border-radius: 100%

}

@media (max-width: 500px) {
  .text-box{
    width: 320px;
    height: 350px;
  }
  .quote{
    height: 200px;
    width: 300px;
    font-size: 16px;
  }
}
